body {
    background-color: #f2f2f2;
}
li i{
    font-size: 2em; 
}
#news .carousel-inner .carousel-item {
    max-width: 100%;
    max-height: 278px;
}
.carousel-item img {
    max-width: 100%;
    max-height: 278px;
    min-height: 278px;
    object-fit: cover;
}
.col-lg-3 .card {
    width: 100%;
    max-height: 13vw;
    padding: 0.5em;
}
.col-md-6 .card {
    width: 100%;
    max-height: 13vw;
    padding: 0.5em;
}

.col-sm-12 .card {
    max-height: 50vw;
    padding: 0.5em;
}

.card-img-top{
    height: 100%; 
    font-size: 2em; 
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    object-fit: scale-down;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

footer ul{
    list-style-type: none;
}

li a, li p {
    align-items: center;
    padding: 8px;
    display: flex;
    color: #FFF;
    text-decoration: none;
}

#carouselRecommended .carousel-control-prev,
    #carouselRecommended .carousel-control-next {
      width: 5%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    #carouselRecommended .carousel-control-prev {
      left: 0px; 
      background-color: gray;
    }

    #carouselRecommended .carousel-control-next {
      right: 0px;
      background-color: gray;
    }