body {
    background-color: #f2f2f2;
}
li i{
    font-size: 2em; 
}
#news .carousel-inner .carousel-item {
    max-width: 100%;
    max-height: 375px;
}
.boxcontrol {
      border-radius: 100%;
      padding: 1em;
      background-color: gray;
    }


.carousel-item img {
    max-width: 100%;
    max-height: 375px;
    min-height: 375px;
    object-fit: cover;
}

#categories .row .card {
    margin-right: 1em;
    max-height: 7em;
    max-width: 10em;
}
#categories .row .card img {
    margin-top: 0.25em;
}
#categories .row .card .card-body { 
    margin-top: 0.85em;
    padding: 0.5em;
}

.card-img-top{
    height: 100%; 
    font-size: 2em; 
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    object-fit: scale-down;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

footer ul{
    list-style-type: none;
}

li a, li p {
    align-items: center;
    padding: 8px;
    display: flex;
    color: #FFF;
    text-decoration: none;
}

#carouselRecommended .carousel-control-prev,
    #carouselRecommended .carousel-control-next {
      width: 5%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    #carouselRecommended .carousel-control-prev {
      left: 0px; 
      background-color: gray;
    }
    
    #carouselRecommended .carousel-control-next {
        right: 0px;
        background-color: gray;
      }
   
    #crdsmall1,#crdsmall2,#crdsmall3,#crdsmall4,#crdLarge {
        height: calc(100% - 1rem);
        background-color: #f4f4f4;
        border: 0;
    }
    #crdsmall1 .card-body a,#crdsmall2 .card-body a,#crdsmall3 .card-body a,#crdsmall4 .card-body a,#crdLarge .card-body a {
        margin-top: 0.75em;
    }
    #crdsmall1 img,#crdsmall2 img,#crdsmall3 img,#crdsmall4 img,#crdLarge img{
        object-fit: fill;
        height: 55%;
        
    }
  
    /*Pruebas*/
    #tendency {
        text-decoration: none;
        color: #000;
    }